<div class="container mb-2 p-3 bg-light">
    <div class="row">
        <div class="img_container col-2">
            <img scr= <%= category.icon %>/>
        </div>
        <div class="text_container col-10">
                <div class="d-flex justify-content-between">
                    <h5 class="mb-4">
                        <%= category.name %>
                    </h5>

                    <div class="amount_container">
                        <h5>0</h5>
                    </div>
                </div>
                <hr/>
            <div class="d-flex justify-content-between">
                <span class="text-mute opacity-25">
                    <%= category.created_at.strftime("%Y-%m-%d")%>            
                </span>

                <div class="delete_container">
                <%= button_to "Delete", category_path(category), method: :delete, data: { confirm: 'Are you sure?' } %>            </div>
                </div>
            </div>
    </div>
</div>