<div class="container-fluid">
    <div class="row">
        <div class="col-6 offset-3 border pt-5">
            <div class="float-right">
                <a href=<%= new_category_path %> class="btn btn-primary text-decoration-none">Add Category</a>
            </div>

            <div class="mt-5">
                    <% @categories.each do |category| %>
                        <%= render partial: 'shared/categories_card', locals: { category: category } %>
                    <% end %>
            </div>

        </div>
    </div> 
</div>