<div class="container-fluid">
<div class="container-fluid shadow-sm bg-white p-3"> 
<h6 class="text-end">Total Expenses: $<%= @category.total_amount %></h6>
</div>

<div class="mt-4">
<h3 class="text-center fw-bold">TRANSACTIONS</h3>
  <div class="row">
    <div class="col-6 offset-3 bg-light">
      <div class="mt-5 text">
        <% @transactions.each do |transaction| %>
          <%= render partial: 'shared/transaction_card', locals: { transaction: transaction } %>
          <% end %>
      </div>
      <div>
      <a href="<%= new_category_transaction_record_path(@category) %>" class="btn btn-info text-decoration-none w-100 p-4 rounded-0 text-white fw-bold mb-3 ">Add Transaction</a>
      </div>
    </div>
  </div>
</div>
</div>
